##########################
### Configuration File ###
##########################

#
# Path and name related parameters with which the backups will be stored in local and S3
#
BACKUP_PREFIX=<backup_prefix>
BACKUP_NAME="${BACKUP_PREFIX}-$(/bin/date +%Y_%m_%d-%H_%M).tar.gz"
BACKUPS_DIR=/var/backups
S3_FOLDER="s3://<bucket_name>/${BACKUP_PREFIX}/"

#
# Absolute paths list of directories and files to include in backups separated by spaces
#
BACKUP_LIST="/etc /var/www"

#
# Absolute paths list of directories and files to exclude in backups separated by spaces
#
# This variable can be left empty, and use of wildcards is allowed, e.g., "/opt/jenkins/jobs/*/workspace"
#
EXCLUDE_LIST=""

#
# Number of days to store backup files in local (older backups will be rotated)
#
NUM_DAYS_LOCAL=3

#
# Number of days to store backup files in S3 (older backups will be rotated)
#
NUM_DAYS_S3=30
